[push]
	default = simple
[user]
	name = Lonny Gomes
	email = code@lonnygomes.com
[core]
	excludesfile = /Users/carpelucem/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	co = checkout
	cb = checkout -b
	ci = commit
	ca = commit -a
	cm = commit -m
	cam = commit -a -m
	caa = commit -a --amend
	amend = commit --amend
	undo = reset HEAD~1 --mixed
	graph = log --oneline --decorate --graph
	ll = log -1 --pretty=fuller --stat
	st = status -sb
	sta = status
	stu = status -suno
	short = log --oneline --decorate
	sl = shortlog -ns
	olog = log ..origin/master
	odiff = diff ..origin/master
