[push]
	default = simple
[user]
	name = Lonny Gomes
	email = code@lonnygomes.com
[core]
	excludesfile = /Users/carpelucem/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	co = checkout
	ci = commit
	ca = commit -a
	amend = commit -a --amend
	undo = reset HEAD~1 --mixed
	graph = log --oneline --decorate --graph
